<div class="row">
    <!-- Première card : Pie Chart -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div id="pieChart" style="min-height: 400px; height: 100%"></div>
        </div>
      </div>
    </div>
  
    <!-- Deuxième card : Bar Chart -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div id="barChart" style="min-height: 400px; height: 100%"></div>
        </div>
      </div>
    </div>
  
    <!-- 3éme card : Pie Chart -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div id="studentPieChart" style="min-height: 400px; height: 100%"></div>
        </div>
      </div>
    </div>
  
    <!-- 4éme card : Donut Chart -->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div id="donutChart" style="min-height: 400px; height: 100%"></div>
        </div>
      </div>
    </div>
  </div>
  